body {
  background-color:  #08083c;
  font-family: "Geneva";
}

.algo-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 95vw;
  height: 100vh / 1.5;
  /* max-height: 100vh / 1.5; */
  /* border: 10px; */
  border-radius: 5pt;
  /* stroke: black; */
  /* stroke-width: 2pt; */
  background-color: #304343;
  margin: auto;
  margin-top: 9px;
  /* margin-right: 50px */
}

.array-container {
  min-height: 660px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  justify-items: center;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: auto;
  margin-top: 20px;
  overflow: auto;
}

button {
  font-size: 16pt;
  justify-self: space-between;
  border: 3px;
  border-radius: 3px;
  border-color: orangered;
  height: auto;
  width: auto;
  margin: 20px;

}

button:hover {
  background-color: peachpuff;
}

.slidercontainer {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 35px;
  width: 85vw;
}

.sliderlabel {
  font-size: 16pt;
  display: center;
  margin-top: 20px;
  align-self: center;
  color: whitesmoke;
}
