.array-container {
  position: absolute;
  left: 100px;
  height: 1050px;
  border: 10px;
  border-radius: 5pt;
  stroke: palegreen;
  stroke-width: 2pt;
}

/* .array-bar {
  width: 2vw;
  display: inline-block;
  margin: 0 1px;
} */
