.grid {
  margin: 20px;
  padding: 15px;
  background: whitesmoke;
  /* position: absolute; */
  justify-items: space-around;
  border-radius: 3px;
}

.grid-row {
  display: flex;
  justify-content: center;
}
