@keyframes example {
  0%   {background-color:orangered; left:0px; top:0px;color:black; font-size: 25px; }
  25%  {background-color:yellow; left:200px; top:0px; color: black}
  50%  {background-color:rgb(157, 54, 230); left:200px; top:200px;}
  75%  {background-color:rgb(1, 196, 1); left:0px; top:200px;}
  100% {background-color:orangered; left:0px; top:0px;}
}

/* The element to apply the animation to */
/* div {
  width: 100px;
  height: 100px;
  position: relative;
  background-color: red;
  animation-name: example;
  animation-duration: 4s;
} */

p {
  display: flex;
  align-self: center;
  /* font: center; */
}

.line {
  min-height: 100px;
  display: flex;
  justify-content: center;
  margin: 5px;
  border-radius: 3px;
  color: whitesmoke;
  font-size: 30px;
  font-weight: 800;
  /* background-color: #304343; */
  background-color: rgb(45, 125, 196);
  animation-name: example;
  animation-duration: 4s;
}

/* #explore {
  display: flex;
  justify-content: center;
} */

/* #navbar {
  hidden: true
} */
