body {
  background-color:  #08083c;
  font-family: "Geneva";
}

.algo-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 95vw;
  height: 100vh / 1.5;
  border-radius: 4pt;
  /* stroke: black; */
  /* stroke-width: 2pt; */
  background-color: #304343;
  margin: auto;
  margin-top: 9px;
  /* margin-right: 50px */
}

.array-container {
  min-height: 55vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  justify-items: center;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: auto;
  margin-top: 20px;
  overflow: auto;
}

#sorting-options {
  display: flex;
  justify-content: center;
  align-items: auto;
  margin-top: 20px;
  margin-left: 10%;
  overflow: auto;
  background-color: orangered;
  opacity: 0.8;
  font-size: 18pt;
  border: 3px;
  border-radius: 3px;
  border-color: orangered;
  height: auto;
  width: auto;
  margin: 20px;
}

button {
  font-size: 16pt;
  justify-self: space-between;
  border: 3px;
  border-radius: 3px;
  border-color: orangered;
  height: auto;
  width: auto;
  margin: 20px;

}

button:hover {
  background-color: peachpuff;
}

.slidercontainer {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 40px;
  width: 30vw;
}

.sliderlabel {
  font-size: 16pt;
  display: center;
  margin-top: 20px;
  align-self: center;
  color: whitesmoke;
}


#my-range {
  width: 30%;
  display: flex;
  align-self: center;
  /* position: absolute; */
}
          /* input[type="range"] {
            width: 100%;
            margin: 0;
            box-sizing: border-box;
          } */

/* datalist {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: -23px;
  padding-top: 0px;
}
.ticker {
  display: flex;
  background-color: black;
  border-radius: 3px;
  width: 1px;
  height: 3px;
  padding-bottom: 3px;
} */

/* option {
  width: 2ex;
  display: flex;
  justify-content: center;
  height: 42px;
  align-items: end;
  background-image: url(https://img.icons8.com/small/16/000000/inactive-state.png);
  height: 4ex;
  background-position-y: -15px;
  background-position-x: center;
  z-index: -1;
} */
